@using MangaFlex.Core.Data.Mangas.ViewModels;
@model MangaChapterViewModel

<style>
    img {
        width: 750px;
        display: block;
       margin-left: 10%;
    }
    .noData{
        color: red;
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }
</style>
<div class="container">
    <nav>
        <ul class="pagination justify-content-center mt-2">
            <li class="page-item @(Model.Chapter == 1 ? "disabled" : "")">
            <a class="page-link" href="?id=@(Model.MangaId)&chapter=@(Model.Chapter-1)" tabindex="-1">&laquo;</a>
            </li>
            <li class="page-item disabled">
                <span class="page-link">@Model.Chapter</span>
            </li>
            <li class="page-item @(Model.Chapter == Model.TotalChapters ? "disabled" : "")">
            <a class="page-link" href="?id=@(Model.MangaId)&chapter=@(Model.Chapter+1)">&raquo;</a>
            </li>
        </ul>
    </nav>
    @if(@Model.Pages is null || !@Model.Pages.Any()){
        <p class="noData">No pages in this chapter</p>
    }
    else {
    <div class="row justify-content-center">
        <div class="col-md-8">   
            <div class="col-md-4 align-items-center justify-content-center">
                @foreach (string pageUrl in Model.Pages!)
                {
                    <img src="@pageUrl" alt="Manga Page">
                }
            </div>
        </div>
    </div>
    <nav>
        <ul class="pagination justify-content-center mt-2">
            <li class="page-item @(Model.Chapter == 1 ? "disabled" : "")">
            <a class="page-link" href="?id=@(Model.MangaId)&chapter=@(Model.Chapter-1)" tabindex="-1">&laquo;</a>
            </li>
            <li class="page-item disabled">
                <span class="page-link">@Model.Chapter</span>
            </li>
            <li class="page-item @(Model.Chapter == Model.TotalChapters ? "disabled" : "")">
            <a class="page-link" href="?id=@(Model.MangaId)&chapter=@(Model.Chapter+1)">&raquo;</a>
            </li>
        </ul>
    </nav>
    }
</div>