@model GetUserProfileViewModel
@{
    ViewData["Title"] = "Profile";

    var userProfileVM = Model as GetUserProfileViewModel;
}

<style>
    h1,
    h2,
    h3 {
        text-align: center;
    }

    img {
        border-radius: 10px;
        width: 9.5em;
        height: 14em;
    }

    span,
    h1,
    h2,
    h3 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .title {
        font-size: 1em;
    }

    .list,
    .list > div {
        flex-direction: column;
        border: 2px solid dimgray;
        border-radius: 15px;
}

    .list {
        display: flexbox;
        padding: 10px;
        padding-bottom: 25px;
        width: 916px;
    }
    .list > div {
        flex-direction: column;
        display: inline-flex;
        width: 165px;
        height: 236px;
        margin: 5px;
        margin-bottom: 26px;

    }
    .list > div > div{
        margin: 5px;
        text-align: center;
    }
</style>

<div class="container mt-3">
    <div class="row">
        <div class="card col-md-3 text-dark align-center text-center justify-content-center">
            <div>
                <img src="@Model.User.AvatarPath" class="img-account-profile mb-2" alt="User Avatar"
                     style="height:250px; width:250px;">
                <div class="card-body">
                    <h5 class="card-title">@userProfileVM.User.UserName</h5>
                    @if(User.Identity.Name == Model.User.UserName)
                    {
                        <h4 class="card-title">@userProfileVM.User.Email</h4>    
                    }
                    @if(User.Identity.Name != Model.User.UserName)
                    {
                        if (Model.IsSub == false)
                        {
                            <button class="btn btn-primary" onclick="PostWithId('/User/Subscribe', '@Model.User.Id'); Reload();">Subscribe</button>
                        }
                        if (Model.IsFriends)
                        {
                            <button class="btn btn-primary">Chat</button>
                        }
                        if (Model.IsSub == true){
                            <button class="btn btn-primary">Unsubscribe</button>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-md-8">       
                    <!-- Last Watches -->
                    <h2>Last Read</h2>
                    @if (userProfileVM.LastWatched is null || userProfileVM.LastWatched.Any() == false)
                    {

                        <h3>there is no last read manga.</h3>
                    }
                    else
                    {
                        <div class="list mb-4">
                            @foreach (var manga in userProfileVM.LastWatched.Reverse().Take(5))
                            {
                                <div>
                                    <div class="img-div">
                                        <img src="@(manga.Cover ?? "https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Black.png/220px-Black.png")" alt="manga cover" />
                                    </div>
                                    <div>
                                        <span class="title"><b>@(manga.Title ?? "Unknown")</b></span>
                                    </div>
                                </div>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>